*
{
	padding: 0rem;
	margin: 0rem;
	box-sizing: border-box;
}

html
{
	font-size: 62.5%;
}

:root
{
	--bgimg1: rgba(0, 0, 0, 0.4);
	--bgimg2: rgba(0, 0, 0, 0.8);
	--primary1: #FFFFFFE6;
	--primary2: #E5CE48;
	--textcolor: #808080;
	--heading: white;
	--crest: #b41b1b;
	--backgroundColor: #090808;
	--titles: #BFBFBF;
	--black: black;
}

body
{
	background: url(https://cdn.wallpapersafari.com/1/3/97ilPz.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.row
{
	margin: 0rem;
}

.logo
{
	width: 10rem;
}

.bgimg1
{
	background:linear-gradient(var(--bgimg1), var(--bgimg2)), url(https://wallpaperaccess.com/full/460863.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.nav-link
{
	color: var(--primary1);
	font-family: Poppins, sans-serif;
	font-size: 1.3rem;
	letter-spacing: 0.2em;
	margin: 0rem 0rem 0rem 4rem;
}

.nav-link:hover
{
	color: var(--primary2);
	transition-duration: 0.5s;
}

.title1
{
	color: var(--primary1);
	font-family: Poppins, sans-serif;
	font-weight: bolder;
	margin: 10rem 0rem 3rem 0rem;
	font-size: 5.5rem;
}

.title1 span
{
	color: var(--crest);
}

.quote
{
	color: var(--primary1);
	font-family: Poppins, sans-serif;
	font-size: 1.7rem;
	line-height: 1.3em;
	margin: 0rem 0rem 5rem 0rem;
}

.getStarted
{
	width: auto;
	height: auto;
	padding: 1.6rem 2.0rem;
	background: var(--primary2);
	font-size: 1.3rem;
	font-family: Poppins, sans-serif;
	border: 0.1rem var(--primary2) solid;
}

.getStarted:hover
{
	background: none;
	border: 0.1rem var(--primary2) solid;
	color: var(--primary2);
	transition-duration: 0.2s;
}

.address
{
	background: var(--primary2);
	padding: 2.8rem 1rem 1.8rem 3.0rem;
	display: flex;
	margin-top: 10rem;
}

.contact1, .location1, .timing1
{
	color: black;
	font-family: Poppin, sans-serif;
	font-size: 1.75rem;
}

.contact p, .location p, .timing p
{
	margin-left: 4.0rem;
	font-family: Poppins, sans-serif;
	font-size: 1.5rem;
	color: #404040;
}



.homeVideo
{
	height: auto;
	background: black;
	padding: 0rem;
}

.welcome
{
	height: auto;	
	padding: 13rem 5rem 13rem 9rem;
}

.welcome h1
{
	font-family: Poppins, sans-serif;
	font-weight: bold;
	color: var(--heading);
	font-size: 4rem;
}

.welcome h1 span
{
	color: var(--crest);
}

.welcome p
{
	color: var(--textcolor);
	font-size: 1.4rem;
	font-family: Poppins, sans-serif;
	line-height: 2.5rem;
}



.services h5
{
	color: var(--primary2);
	font-size: 1.6rem;
	font-family: Poppins, sans-serif;
	margin-bottom: 0.4rem;
}

.services h1
{
	color: var(--heading);
	font-family: Popping, sans-serif;
	font-size: 3.7rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
}

.services p
{
	font-size: 1.4rem;
	color: var(--textcolor);
	font-family: Poppins, sans-serif;
	margin-bottom: 6rem;
}

.inner-box
{
	background: var(--primary2);
	height: 12rem;
	width: 12rem;
	margin: auto;
	padding: 3rem;
	transition: all 0.3s ease-in-out 0s;
}

.box
{
	height: auto;
	text-align: center;
}

.services_contain
{
	background: var(--backgroundColor);
	padding: 10.5rem 0rem;
}

.box h2
{
	margin: 4rem 0rem 3rem 0rem;
	font-family: Poppins, sans-serif;
	font-size: 2rem;
	color: var(--heading);
}

.box h6
{
	font-family: Poppins, sans-serif;
	color: var(--textcolor);
	font-size: 1.4rem;
	line-height: 2.5rem;
}

.box .analyze
{
	width: 6rem;
	transition: all 0.5s ease-in-out 0s;
}

.box .work-hard
{
	width: 6.4rem;
	transition: all 0.5s ease-in-out 0s;
}

.box .improve
{
	width: 6rem;
	transition: all 0.5s ease-in-out 0s;
}

.box .achieve
{
	width: 6rem;
	transition: all 0.5s ease-in-out 0s;
}

.box:hover .inner-box
{
	transition: all 0.3s ease-in-out 0s;
    transform: rotate(135deg);
}

.box:hover .analyze, .box:hover .work-hard, .box:hover .improve, .box:hover .achieve
{
	transform: rotate(-135deg);
	transition: all 0.5s ease-in-out 0s;
}



.program
{
	height: auto;
	padding: 10rem 0rem 10rem 0rem;
}

.program1 h5
{
	color: var(--primary2);
	font-size: 1.6rem;
	font-family: Poppins, sans-serif;
	margin-bottom: 0.4rem;
}

.program1 h1
{
	color: var(--heading);
	font-family: Popping, sans-serif;
	font-size: 3.7rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
}

.program1 p
{
	font-size: 1.4rem;
	color: var(--textcolor);
	font-family: Poppins, sans-serif;
	margin-bottom: 2rem;
	line-height: 2.5rem;
}

.view-programs
{
	width: auto;
	height: auto;
	padding: 1.6rem 2rem;
	background: none;
	font-size: 1.3rem;
	font-family: Poppins, sans-serif;
	border: 0.1rem var(--primary2) solid;
	color: var(--primary2);
	margin: 0rem 1.5rem;
}

.view-programs:hover
{
	background: var(--primary2);
	border: 0.1rem var(--primary2) solid;
	transition-duration: 0.3s;
	color: var(--heading);
}

.program1
{
	padding-top: 40rem;
	margin-bottom: 8rem;
}

.circle-box
{
	margin-bottom: 6rem;
}

.circle1, .circle2, .circle3, .circle4, .circle5
{
	width: 10rem;
	height: 10rem;
	background: var(--primary2);
	border-radius: 5rem;
	padding: 3.4rem 0rem 0rem 2.8rem;
}

.circle2
{
	padding: 2.6rem 0rem 0rem 3rem;
}

.circle3
{
	padding: 3rem 0rem 0rem 2.8rem;
}

.circle4
{
	padding: 2.6rem 0rem 0rem 2.8rem;
}

.circle5
{
	padding: 3rem 0rem 0rem 2.8rem;
}

.circle1 img, .circle2 img, .circle3 img, .circle4 img, .circle5 img
{
	width: 4.5rem;
}

.program2 h3
{
	color: var(--heading);
	font-family: Poppins, sans-serif;
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-left: 2.5rem;
}

.program2 h4
{
	color: var(--textcolor);
	font-family: Poppins, sans-serif;
	line-height: 2.5rem;
	font-size: 1.5rem;
	margin-left: 2.5rem;
}



.counterup-bg
{
	background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(https://images8.alphacoders.com/608/608042.jpg);
	height: auto;
	background-size: cover;
	background-attachment: fixed;
}

.counterup-box
{
	padding: 12rem 0rem 12rem 0rem;
}

.counterup-box h1
{
	color: var(--primary2);
	font-size: 5rem;
	font-family: Poppins, sans-serif;
	font-weight: bold;
}

.counterup-box h4
{
	color: var(--titles);
	font-family: Poppins, sans-serif;
	font-size: 1.4rem;
}



.trainer
{
	height: auto;
	padding: 10rem 0rem 10rem 0rem;
}

.trainer h5
{
	color: var(--primary2);
	font-size: 1.6rem;
	font-family: Poppins, sans-serif;
	margin-bottom: 0.4rem;
}

.trainer h1
{
	color: var(--heading);
	font-family: Popping, sans-serif;
	font-size: 3.7rem;
	font-weight: bold;
	margin-bottom: 6rem;
}

.trainer1, .trainer2, .trainer3, .trainer4
{
	margin: 0rem 0rem 1.6rem 0rem;
}

.trainer-img
{
	height: 48rem;
	overflow: hidden;
}

.trainer1 .trainer-img img, .trainer2 .trainer-img img 
{
	height: 48rem;
	position: absolute;
	right: -24rem;
}

.trainer3 .trainer-img img 
{
	height: 48rem;
	position: absolute;
	right: -30rem;
}

.trainer4 .trainer-img img
{
	height: 48rem;
	position: absolute;
	right: -13rem;
}

.trainer-details
{
	padding: 3rem 1rem 1rem 3rem;
	background: var(--backgroundColor);
}

.trainer-details h6
{
	color: var(--titles);
	font-family: Poppins, sans-serif;
	font-size: 1.4rem;
}

.trainer-details h3 a
{
	color: var(--primary2);
	font-family: Poppins, sans-serif;
	font-size: 2.9rem;
	text-decoration: none;
}

.trainer-details p
{
	font-family: Poppins, sans-serif;
	color: var(--textcolor);
	font-size: 1.5rem;
	line-height: 2.7rem;
	margin: 0rem 3rem 2.7rem 0rem;
}

.trainer-details button
{
	width: 6rem;
	height: 6rem;
	background: #262626;
	border: none;
	margin: 0rem 0.5rem 2rem 0rem;
}

.trainer-details button:hover
{
	background: var(--primary2);
	transition-duration: 0.4s;
}

.twitter-btn, .facebook-btn, .insta-btn
{
	color: var(--titles);
}

.trainer-details button:hover .twitter-btn, .trainer-details button:hover .facebook-btn, .trainer-details button:hover .insta-btn
{
	color: black;
	transition-duration: 0.4s;
}



.testimony
{
	background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(https://www.planetfitness.com/sites/default/files/feature-image/xbreak-workout_602724.jpg.pagespeed.ic.v8byD7su-e.jpg);
	padding: 10rem 0rem 0rem 0rem;
	background-attachment: fixed;
	background-size: cover;
}

.testimony h5
{
	color: var(--primary2);
	font-size: 1.6rem;
	font-family: Poppins, sans-serif;
	margin-bottom: 0.4rem;
}

.testimony h1
{
	color: var(--heading);
	font-family: Popping, sans-serif;
	font-size: 3.7rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
}

.testimony p
{
	font-size: 1.4rem;
	color: var(--textcolor);
	font-family: Poppins, sans-serif;
	margin-bottom: 3rem;
}

.testimony1
{
	display: flex;
}

.testimony2
{
	padding: 4rem 4rem 4rem 4rem;
	background: var(--primary2);
	height: auto;
	width: 20%;
}

.testimony2:nth-child(2), .testimony2:nth-child(4)
{
	background: #ceb940;
}

.person
{
	display: flex;
	color: var(--heading);
	font-family: Poppins, sans-serif;
}

.face 
{
	width: 4rem;
	height: 4rem;
	background-size: cover;
	border-radius: 3rem;
	margin-right: 2rem;
	overflow: hidden;
}

.face img 
{
	width: 4rem;
}

.face .suga
{
	height: 4rem;
	width: 7rem;
}

.testimony2 p
{
	color: var(--heading);
	font-size: 1.5rem;
}



.our-packages
{
	padding: 10rem 0rem 10rem 0rem;
}

.our-packages h5
{
	color: var(--primary2);
	font-size: 1.6rem;
	font-family: Poppins, sans-serif;
	margin-bottom: 0.4rem;
}

.our-packages h1
{
	color: var(--heading);
	font-family: Popping, sans-serif;
	font-size: 3.7rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
}

.our-packages p
{
	font-size: 1.4rem;
	color: var(--textcolor);
	font-family: Poppins, sans-serif;
	margin-bottom: 6rem;
}

.packages-img
{
	height: 28rem;
	background: black;
	margin: auto;
	margin-bottom: 1.5rem;
	overflow: hidden;
}

.packages-img img
{
	width: 43rem;
}

.packages-img #fat-burning
{
	width: 38rem;
}

.packages-txt
{
	margin: auto;
}

.package1
{
	margin: 0rem 0rem 2rem 0rem;
}

.package1 h2
{
	font-family: Poppins, sans-serif;
	font-size: 2.2rem;
	color: var(--heading);
}

.package1 h5
{
	font-family: Poppins, sans-serif;
	font-size: 1.5rem;
	color: var(--titles);
	margin-bottom: 2.5rem;
}

.package1 p
{
	color: var(--textcolor);
	font-family: Poppins, sans-serif;
	font-size: 1.4rem;
	line-height: 2.5rem;
	margin: 0rem 0rem 3rem 0rem;
}

.package1 h1
{
	color: var(--primary2);
	font-family: Poppins, sans-serif;
	font-size: 2.3rem;
}

.per-year
{
	font-size: 1.3rem;
	color: var(--titles);
}

.package1 button
{
	background: var(--titles);
	padding: 1.3rem 2.6rem;
	font-size: 1.5rem;
	font-family: Poppins, sans-serif;
	color: var(--heading);
	float: right;
	border: none;
}

.package1:hover .packages-txt button
{
	background: var(--primary2);
	color: var(--black);
	transition-duration: 0.4s;
}



.appoint
{
	font-family: Poppins, sans-serif;
	color: var(--heading);
	font-size: 3rem;
	margin-bottom: 4rem;
	padding: 0rem;
}

.maps
{
	background: var(--primary2);
	height: auto;
	padding: 0rem;
}

section iframe
{
	width: 100%;
	height: 100%;
	position: absolute;
}

.form
{
	background: var(--black);
	padding: 14rem 10rem 13rem 10rem;
}

.form input
{
	border: none;
	border-bottom: 0.1rem var(--titles) solid;
	background: none;
	color: var(--titles);
	font-family: Poppins, sans-serif;
	font-size: 1.3rem;
	padding: 0rem 0rem 2rem 0rem;
	margin: 0rem 3rem 4rem 0rem;
}

.form h5
{
	border: none;
	border-bottom: 0.1rem var(--titles) solid;
	background: none;
	color: var(--titles);
	font-family: Poppins, sans-serif;
	font-size: 1.3rem;
	padding: 0rem 0rem 2rem 0rem;
	margin: 0rem 3rem 4rem 0rem;
}

.form button
{
	padding: 1.5rem 0rem;
	background: var(--primary2);
	border: 0.1rem var(--primary2) solid;
	color: var(--black);
	font-size: 1.3rem;
	font-family: Poppins, sans-serif;
}

.form button:hover
{
	background: none;
	color: var(--primary2);
	border: 0.1rem var(--primary2) solid;
	transition-duration: 0.3s;
}



footer
{
	padding: 10rem 0rem;
	background: var(--backgroundColor);
}

footer .about h2
{
	font-family: Poppins, sans-serif;
	font-size: 1.7rem;
	color: var(--heading);
	margin-bottom: 4rem;
}

footer .about p
{
	font-family: Poppins, sans-serif;
	font-size: 1.6rem;
	color: var(--textcolor);
	line-height: 2.7rem;
	margin-bottom: 5rem;
}

footer .about button
{
	width: 5.5rem;
	height: 5.5rem;
	border-radius: 3rem;
	padding: 0rem 0rem 0rem 0.1rem;
	background: #FFFFFF0D;
	margin-left: 0.7rem;
}

footer .about button svg
{
	color: var(--heading);
}

footer .about button svg:hover
{
	color: var(--primary2);
	transition-duration: 0.2s;
}

footer .about
{
	margin-bottom: 5rem;
}

footer .recent-testimonies h2
{
	font-family: Poppins, sans-serif;
	font-size: 1.7rem;
	color: var(--heading);
	margin-bottom: 4rem;
}

footer .recent-testimonies .recent-img
{
	width: 6rem;
	height: 6rem;
	background: #FFFFFF0D;
	overflow: hidden;
}

footer .recent-testimonies .recent-img img
{
	width: 5rem;
	position: absolute;
	right: 0rem;
}

footer .recent-testimonies p 
{
	font-family: Poppins, sans-serif;
	font-size: 1.6rem;
	color: var(--titles);
	line-height: 2.7rem;
	margin-bottom: 5rem;
}

footer .recent-testimonies p:hover
{
	transition-duration: 0.3s;
	color: var(--primary2);
	cursor: pointer;
}

footer .recent-testimonies
{
	margin-bottom: 5rem;
}

footer .f-services h2
{
	font-family: Poppins, sans-serif;
	font-size: 1.7rem;
	color: var(--heading);
	margin-bottom: 4rem;
}

footer .f-services h3
{
	font-family: Poppins, sans-serif;
	font-size: 1.6rem;
	margin-bottom: 2rem;
	color: var(--titles);
}

footer .f-services h3:hover
{
	color: var(--heading);
	transition-duration: 0.3s;
	cursor: pointer;
}

footer .f-services
{
	margin-bottom: 5rem;
}

footer .questions h2
{
	font-family: Poppins, sans-serif;
	font-size: 1.7rem;
	color: var(--heading);
	margin-bottom: 4rem;
}

footer .questions svg
{
	color: var(--heading);
	margin-bottom: 3rem;
}

footer .questions p 
{
	color: var(--titles);
	font-size: 1.6rem;
	font-family: Poppins, sans-serif;
	margin-bottom: 3rem;
}

footer .questions
{
	margin-bottom: 5rem;
}

footer .the-end
{
	font-size: 1.6rem;
	font-family: Poppins, sans-serif;
	color: var(--textcolor);
	margin-top: 5rem;
}